@import 'variables';

.content__post {
  &-title {
    font-weight: 500;
    font-size: 24px;
    color: $dark-grey;
  }

  &-text {
    font-weight: 400;
    font-size: 20px;
    color: $light-grey;
  }
}

