@import 'variables';

.slider__list-item {
  width: 290px !important;
  display: block !important;
  margin: 0 auto;
}

.slider__item {
  &-img {
    &_active {
      border-bottom: 3px solid $orange;
    }
  }

  &-initials {
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    color: $dark-grey;
    &_active {
      color: $orange;
    }
  }

  &-company {
    font-weight: 400;
    font-size: 18px;
    color: $light-grey;
    &_active {
      color: $orange;
    }
  }
}
